{%extends 'base.html'%}

{%block main_block%}

<div class="container  mt-5 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Title
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title:{{data.title}}</li>
          <li class="list-group-item">Year:{{data.year}}</li>
          <li class="list-group-item">Author:{{data.author}}</li>
          <li class="list-group-item">Genre:{{data.genre}}</li>
          <li class="list-group-item">Language:{{data.language}}</li>

        </ul>
      </div>

</div>


{%endblock%}


   