{%extends 'base.html'%}

{%block main_block%}

    <div class="container p-4 border shadow mt-5 bg-outline">

        <a href="{%url% 'book-create'}" class="btn btn-success">AddNewBook</a>

        <table class="table">
            <tr class="fw-bold">
                <td>Title</td>
                <td>Year</td>
                <td>Author</td>
                <td>Genre</td>
                <td>Language</td>
                <td>Action</td>
            </tr>

            {%for b in data%}

            

            <tr>
                <td>{{b.title}}</td>
                <td>{{b.year}}</td>
                <td>{{b.author}}</td>
                <td>{{b.genre}}</td>
                <td>{{b.language}}</td>
                <td>
                    <a href="{%url 'book-details' b.id%}" class="btn btn-outline-success">View</a>
                    <a href="{%url 'book-delete' b.id%}" class="btn btn-outline-danger">Delete</a>
                    <a href="{%url 'book-update' b.id%}" class="btn btn-outline-info">Edit</a>
                </td>
            </tr>

            

            {%endfor%}
        </table>

    </div>
{%endblock%}


